body{
	background-color: burlywood;
}

h1{
	display: block;
	text-align:center;
}
.content{
  background-color: rgb(236, 237, 238);
	/*width: 80%;*/ /*relative size or elastic*/
	width: 980px;  /*absolute size or static*/
	margin: auto;
}
.grid-container {

	display:grid;
	grid-template-columns: auto auto auto auto auto;
	background-color: #2196F3;
	padding: 10px;
	gap: 50px 100px;
	column-gap: 10px;
	row-gap: 10px;
  }
  
  
  .grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
  }
  .grid-item1{
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
	/*grid-column-start: 1;
	grid-column-end: 4;*/
	grid-column: 1/2;
  }